body {
    background-color: #B8B8B8;
}
.navbar {
	background-color: #27ae60;
	color:#FFFFFF;
}
.navbar a{
	color: #ffffff;
}
.topLinks li a:visited, .topLinks li a:link, .topLinks li a:hover, .topLinks li a:active{
	color: white;
}
.navbar-nav> li:hover{
	background-color: #2ecc71;
	color:#ffffff;
}



.about_pics
{
	border-radius: 70px;
	-webkit-border-radius: 70px;
	-moz-border-radius:70px;
	-khtml-border-radius:70px;
}

#pleaseLogin {
	font-size:45pt;
}

.textBigger{
	font-size: 150%;
}