.navbar {
	background-color: #27ae60;
	color:#FFFFFF;
}
.navbar a{
	color: #ffffff;
}
.navbar-nav > li:hover{
	background-color: #2ecc71;
	color:#ffffff;
}
.topLinks li a:visited, .topLinks li a:link, .topLinks li a:hover, .topLinks li a:active{
	color: white;
}